

.drawer_link{

      font-weight: 600;
    color: var(--grey);
    font-size: 1rem;
 }


 .drawer_link:hover{
    color: var(--white);
    transition: all 0.3s;
 }

 .drawer_div{
    width: 40vw;
    height: 100vh;
    padding: 1.5rem;
    background-color: var(--black);
    
 }

 
