
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');





:root{
    --white:#fff;
    --black:#111;
    --blue:#3a80e9;
    --grey:#888;
    --darkgrey:#1b1b1b;
    --green:#61c96f;
    --red:#f94141;
}

body{
    margin:0;
   background-color: var(--black);
   color: var(--white);
    -webkit-font-smoothing:atialiased;
    -moz-osx-font-smoothing:greyScale;
     font-family: "Inter", sans-serif;
}

::selection{
    background-color:var(--red);
    color:var(--white)
}



/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
 
}

